{% extends "app/layout.html" %}

{% block content %}

<div id="maintext">
    <h2>{{ title }}.</h2>
    <h3>{{ message }}</h3>

    <address>
        CYBER_PC<br />
        Псков, Рижский пр-кт, д. 16<br />
        <abbr>Телефон:</abbr>
        +7(953)244-38-28
        <p>
            <a href="https://t.me/dikobrxz_ch"><i>Наш Телеграм</i></a>
        </p>
    </address>

    <address>
        <strong>Техническая поддержка:</strong>   <a href="mailto:Support@example.com">leonya.al1488@gmail.com</a><br />
        <strong>По вопросам сотрудничества:</strong> <a href="mailto:Marketing@example.com">dikobrazik228@gmail.com</a>
    </address>
</div>


{% endblock %}
